{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototype</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <div class="header">
        <img class="Logo" src="{% static 'images/favicon.ico' %}">
        <a href="{% url 'home' %}" class="nav-button">Home</a>
        <a href="{% url 'about' %}" class="nav-button">About</a>
        <a href="{% url 'contact' %}" class="nav-button">Contact</a>
        <a href="{% url 'list_feedback' %}" class="nav-button">Feedback</a>
    </div>
    <div class="container">
        <div class="contents">
            {% block content %}
            <!-- Pages will be inserted here -->
            {% endblock content %}
        </div>
    </div>

    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>
