{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPRINGVILLE GARDENS HOA PAGE</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>

<body>


    <div class="navbar">
    <img class="logo" src="{% static 'images/favicon.ico' %}" alt="Logo">
        <h2 class="nav-title">Springville Gardens HOA Page</h2>

    <div class="nav-links">

        <a href="{% url 'profile' %}" class="nav-button">My Profile</a>

    </div>
</div>

    <div class="container">
        <div class="contents">
            {% block content %}
            <!-- Pages will be inserted here -->
            {% endblock content %}
        </div>
    </div>

    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>
